.volume_slider {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  width: 100%;
}

.toggle_volume {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

.volume_slider svg {
  min-width: 3.6rem;
  height: 2.4rem;
  fill: var(--grey-text);
}
