.volume_slider {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  width: 100%;
}

.volume_slider svg {
  min-width: 3.6rem;
  width: 4.8rem;
  height: auto;
  fill: var(--grey-text);
}
