.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-height: max-content;
  background-color: rgb(50, 50, 50);
  color: var(--grey-text);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0 4rem;
  width: 15rem;
}
