.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 28rem;
  background:
    linear-gradient(
      270deg,
      rgba(50, 50, 50, 0.5) 0%,
      rgba(57, 50, 57, 0.6) 100%
    ),
    linear-gradient(180deg, rgb(50, 50, 50) 0%, rgb(57, 50, 57) 100%);
  padding: 0.6rem 0.8rem 0.8rem;
  color: var(--grey-text);
  width: 28rem;
  border-radius: 0.4rem;
  border-bottom-left-radius: 0.6rem;
  border: 0.05rem solid rgb(30, 0, 30);
  user-select: none;
}

.card {
  color: var(--grey-text);
  transition: color 0.3s;
}

.card:hover {
  color: rgb(250, 250, 250);
  transition: color 0.3s;
}

.card img {
  filter: brightness(1);
  transform: scale(1);
  transition:
    filter 0.15s,
    transform 0.6s;
}

.card:hover img {
  filter: brightness(1.16);
  transform: scale(1.05);
  transition:
    filter 0.3s,
    transform 0.6s;
}

.card > * {
  width: 100%;
}

.image_wrapper {
  height: 15rem;
  max-height: 15rem;
  width: 100%;
  flex: 1;
  overflow: hidden;
  border-radius: 0.4rem;
  min-height: 0;
}

.title {
  padding: 0;
  margin: 0.8rem 0 0.2rem;
  font-size: 2.2rem;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  flex-shrink: 0;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none;
}

.details_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 0.4rem;
  padding: 0.2rem 0;
}

.details_wrapper > * {
  padding: 0 0.3rem;
}

.details_row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap: 0.2rem;
  width: 100%;
  font-size: 1.4rem;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.by_line {
  display: flex;
  justify-content: flex-end;
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

.description_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36rem;
  border-radius: 1.2rem;
  border: 0.1rem solid rgb(30, 0, 10);
  background:
    linear-gradient(
      270deg,
      rgba(121, 112, 125, 0.7) 0%,
      rgba(120, 120, 120, 0.6) 100%
    ),
    linear-gradient(180deg, rgb(120, 120, 120) 0%, rgb(93, 81, 99) 100%);
  box-shadow:
    6px 3px 6px 0px rgba(0, 0, 0, 0.3),
    -6px 3px 6px 0px rgba(0, 0, 0, 0.3),
    0px 6px 6px 0px rgba(0, 0, 0, 0.3);
}

.description {
  color: var(--grey-text);
  min-height: 4.8rem;
  padding: 1.2rem 1.8rem;
  font-size: 1.6rem;
  width: 100%;
  max-width: 95%;
  border-radius: 1.2rem;
}

/* Desktop Styles */
@media screen and (min-width: 651px) and (max-width: 1023px) {
}
