.page {
  height: 100vw;
  min-height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  column-gap: 7.2rem;
  row-gap: 1.2rem;
  padding: 0.2rem 0.8rem;
}

.wrapper > * {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
