.ambiance_maker {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.2rem;
}

.player_wrapper {
  
}

.inputs_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.6rem;
  column-gap: 0.8rem;
  max-width: 144rem;
  padding: 0 0.8rem;
}

/* Desktop Styles */
@media screen and (min-width: 651px) and (max-width: 1023px) {
}
