
.ambiance_maker{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;

}

.player_wrapper{

}

.inputs_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

/* Desktop Styles */
@media screen and (min-width: 651px) and (max-width: 1023px) {
}
