.ambiance_maker {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.8rem;
  max-width: 144rem;
  padding: 0.2rem 0rem;
}

.header_wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
}

.header {
  display: flex;
  height: 4.2rem;
  padding-left: 1.8rem;
  margin-bottom: 0.4rem;
  column-gap: 1.2rem;
}

.author_wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  padding-top: 1rem;
}

.by {
  font-size: 1.6rem;
}

.author {
  font-size: 2rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  all: unset;
  font-size: 3.6rem;
  font-weight: 600;
}

.player_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inputs_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.6rem;
  column-gap: 0.8rem;
  max-width: 144rem;
  padding: 0 0.8rem;
}

.description_wrapper {
  display: flex;
  margin-top: 1.2rem;
  justify-content: center;
  width: 80%;
  border-radius: 0.4rem;
  border: 0.05rem solid rgb(30, 0, 30);
  background:
    linear-gradient(
      270deg,
      rgba(50, 50, 50, 0.5) 0%,
      rgba(57, 50, 57, 0.6) 100%
    ),
    linear-gradient(180deg, rgb(50, 50, 50) 0%, rgb(57, 50, 57) 100%);
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.4rem;
  width: 100%;
}

.description {
  color: var(--grey-text);
  padding: 1.2rem 3.6rem;
  font-size: 1.8rem;
  max-width: 90%;
}

/* Desktop Styles */
@media screen and (min-width: 651px) and (max-width: 1023px) {
}
