.page {
  display: flex;
  width: 100vw;
  height: 100vh;
  min-height: max-content;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.4rem;
}
