.player {
  display: flex;
  flex-direction: column;
  padding: 0 0.8rem;
  width: 100%;
  max-width: 130rem;
}

.control_bar {
  display: flex;
  justify-content: space-between;
  column-gap: 0.8rem;
  padding: 0 1.6rem;
  width: 100%;
  background-color: rgb(50, 50, 50);
  height: 4.8rem;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.controls_wrapper {
  display: flex;
}

.controls_wrapper button {
  all: unset;
  box-sizing: border-box;
  height: 100%;
  padding: 0.2rem 1rem 0;
}

.controls_wrapper button:hover {
  cursor: pointer;
  filter: brightness(1.05);
}

.controls_wrapper button > svg {
  height: 2.88rem; /* 60% of control bar */
  width: auto;
  fill: var(--grey-text);
}

.rewind{
  height: 2.6rem; /* 54% of control bar */
}

.videos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.6rem;
  column-gap: 0.4rem;
  width: 100%;
  min-height: 33.6rem;
  min-height: 42rem;
  background-color: rgba(35, 35, 35);
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  padding: 0.6rem 0.6rem;
}

.video_wrapper {
  display: none;
  min-width: 32rem;
  min-width: 30%;
  max-width: 50%;
  flex: 1;
}

.video_wrapper.visible {
  display: flex;
}

.video_wrapper > * {
  border-radius: 0.8rem;
}

.videos iframe {
  border-radius: 1.2rem;
  /*
  width: 400px !important;
  height: 300px !important;
  */
  width: 100% !important;
  /*min-width: 18rem;*/
  height: auto !important;
}

/* Mobile Styles */
@media screen and (max-width: 700px) {
  .video_wrapper {
    min-width: 40%;
  }
}
