.breadcrumb {
  display: flex;
  column-gap: 0.6rem;
  font-size: 2rem;
  width: 100%;
  flex-wrap: wrap;
  color: var(--grey-text);
}

.segment {
  display: flex;
  height: max-content;
  column-gap: 0.8rem;
  white-space: nowrap;
}

.breadcrumb a {
  color: var(--grey-text);
  border-bottom: 0.1rem solid var(--grey-text);
  padding-bottom: 0.1rem;
  font-family: sans-serif;
  transition: all 0.1;
}

.breadcrumb a:hover {
  color: white;
  border-bottom: 0.1rem solid white;
  transition: all 0.2s;
}

.dash {
  font-weight: bolder;
  transform: translateY(0.4rem);
}