.button {
  --height: 5.2rem;
  --buttonColor: rgb(120, 80, 140);
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  height: max-content;
  min-height: var(--height);
  width: max-content;
  max-width: 24rem;
  padding: 0.4rem 1.2rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  column-gap: 1.8rem;
  text-align: center;
  text-wrap: pretty;
  user-select: none;
  font-size: 1.8rem;
  border-radius: 0.8rem;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.15s;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  transform: translateZ(0); /* Helps Mobile */
  will-change: transform;
  /* color: light-dark(var(--grey-text), var(--grey-text)); */
  color: var(--grey-text);
}

.default {
  min-width: 16rem;
}

.full {
  flex: 1;
  width: 100%;
  max-width: 100%;
}

.button:focus-visible {
  outline: 0.1rem solid var(--focus-color);
  outline-offset: 0.2rem;
}

.button.active {
  transition: all 0.1s;
  transform: translateY(0.04rem) scale(0.98) translateZ(0); /* Helps Mobile */
  will-change: transform;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
}

.primary:hover,
.secondary:hover,
.tertiary:hover {
  transition: all 0.15s;
}

.primary {
  border: 0.2rem solid rgba(0, 0, 0, 0);
  font-weight: bolder;
  background-color: var(--buttonColor);
}

.secondary {
  /* color: light-dark(var(--buttonColor), var(--grey-text)); */
  border: 0.1rem solid var(--buttonColor);
  color: var(--buttonColor);
  color: var(--grey-text);

  font-weight: bolder;
  background-color: rgb(40, 40, 40);
}

.tertiary {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--grey-text);
  border: 0.1rem solid rgba(175, 175, 175, 0.8);
}

/* Stops button from changing color after click on IOS */
/* We can either extend or possibly remove this part */
@media (hover: hover) {
  .primary:hover {
    color: white;
    filter: brightness(1.03);
  }
  .secondary:hover {
    color: white;
    background-color: rgb(45, 45, 45);
  }
  .tertiary:hover {
    background-color: rgba(0, 0, 0, 0.175);
    border: 0.1rem solid rgba(175, 175, 175, 0.85);
    color: white;
  }
}

.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_container > * {
  width: calc(var(--height) * 0.75);
  height: calc(var(--height) * 0.75);
  object-fit: cover;
  object-position: center center;
}

.disabled {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: auto;
  color: rgb(180, 180, 180);
  border-color: rgb(100, 100, 100);
  border-width: 0rem;
  border-top-width: 0.05rem;
  font-weight: 500;
  opacity: 0.7;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0);
}

.button_text.disabled {
  opacity: 0;
}

.button_text {
  opacity: 1;
}

.disabled:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(180, 180, 180);
  border-color: rgb(100, 100, 100);
  filter: brightness(1);
}
