.ambiance_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  background:
    linear-gradient(
      270deg,
      rgba(50, 50, 50, 0.5) 0%,
      rgba(57, 50, 57, 0.6) 100%
    ),
    linear-gradient(180deg, rgb(50, 50, 50) 0%, rgb(57, 50, 57) 100%);
  padding: 0.6rem 0.6rem;
  color: var(--grey-text);
  flex: 1;
  min-width: max(30rem, 30%);
  border-radius: 0.4rem;
  border: 0.05rem solid rgb(30, 0, 30);

  max-height: max-content;
}

.ambiance_input.video_found {
  max-height: unset;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.4rem;
}

.video_controls_wrapper {
  margin-top: auto;
}

.ambiance_input h1 {
  all: unset;
  box-sizing: border-box;
  align-self: flex-start;
  font-size: 2.4rem;
  margin: 0.6rem 0.8rem 0.4rem;
  color: var(--grey-text);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.link_input_wrapper {
  display: flex;
  width: 98%;
  flex-direction: column;
  row-gap: 0.8rem;
}

.link_input {
  all: unset;
  background-color: rgb(220, 220, 220);
  color: rgb(20, 20, 20);
  padding-left: 0.88rem;
  border-radius: 0.4rem;
  height: 3.2rem;
  font-size: 1.6rem;
}

.link_input::placeholder {
  color: black;
}

.link_error {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  color: rgb(255, 96, 96);
  font-size: 1.5rem;
  padding-left: 0.4rem;
}

.video_controls_wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.timeframe_wrapper,
.sliders_wrapper {
  display: flex;
  column-gap: 2.2rem;
  width: 100%;
  margin-top: 3.9rem;
}

.timeframe_wrapper {
  margin-bottom: 1.2rem;
}

.sliders_wrapper {
}

.control_button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 2.4rem;
  padding: 0.1rem;
  width: auto;
  cursor: pointer;
  fill: var(--grey-text);
}

.control_button:hover {
  fill: white;
}

.control_button:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

.control_button svg {
  height: 2.4rem;
  width: auto;
  fill: var(--grey-text);
}

.mini_controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.2rem 0 0.4rem;
  transform: scaleX(1.08);
}

.mini_controls_right {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}
