@import "./normalize.css";

:root {
  --border-color: rgb(50, 50, 50);
  --border: 0.05rem solid var(--border-color);
  --link-color: rgb(170, 170, 255);
  --link-color-hover: rgb(140, 140, 210);
  --icon-color: var(--grey-text);
  --error-color: rgb(249, 105, 105);
  --focus-color: rgba(47, 96, 149, 1);
  --focus-outline: 0.3rem solid var(--focus-color);
  --focus-outline-offset: 0.1rem;
  --grey-text: rgb(240, 240, 240);
  --dark-grey-text: rgb(160, 160, 160);
  --primary-button-color: rgb(105, 75, 135);
  --background-color: rgb(77, 73, 84);
}

/* Elements */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

input {
  background-color: var(--background);
  font-family: var(--font-interface), "Segoe UI", sans-serif;
}

label {
  font-family: var(--font-interface), "Segoe UI", sans-serif;
}

textarea {
  font-family: var(--font-interface), "Segoe UI", sans-serif;
}

input::placeholder {
  color: var(--foreground);
}

svg {
  fill: var(--icon-color);
}

html {
  font-size: 62.5%;
  background-color: var(--background-color);
}

html,
body {
  max-width: 100vw;
}

body {
  color: light-dark(black, var(--grey-text));
  font-family: var(--font-interface), "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display), serif;
  font-size: 2.4rem;
  font-weight: 400;
}

nav {
  font-family: var(--font-interface), "Segoe UI", sans-serif;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* Toastify Styles    */
.Toastify__toast-container {
  z-index: 10;
}

.Toastify__toast-container--top-center {
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}

.error_toast_enter {
  animation: error_toast_enter 0.3s;
  animation-timing-function: ease-out;
}

.error_toast_exit {
  animation: error_toast_exit 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes error_toast_enter {
  0% {
    opacity: 0;
    transform: translateX(4rem);
  }
  14% {
    transform: translateX(-4rem);
  }
  28% {
    transform: translateX(3rem);
  }
  43% {
    transform: translateX(-3rem);
  }
  57% {
    transform: translateX(2rem);
  }
  71% {
    transform: translateX(-2rem);
  }
  85% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 100%;
    transform: translateX(0rem);
  }
}

@keyframes error_toast_exit {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
