.expandable {
  display: flex;
  position: relative;
}

.children_wrapper{
  height: 100%;
  width: 100%;
}

.tooltip_wrapper {
  position: absolute;
  pointer-events: none;
  z-index: 500;
}

.appear {
  animation: appear 0.4s;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 -1.6rem;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.closing {
  opacity: 0;
  translate: 0 -1rem;
  transition:
    opacity 0.3s,
    translate 0.3s;
}
