.backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.loader_container {
  padding: 2.4rem 3.6rem;
  border-radius: 1.2rem;
  border: var(--smallBorder);
  background:
    linear-gradient(
      270deg,
      rgba(121, 112, 125, 0.7) 0%,
      rgba(120, 120, 120, 0.6) 100%
    ),
    linear-gradient(180deg, rgb(120, 120, 120) 0%, rgb(93, 81, 99) 100%);
  box-shadow:
    6px 3px 6px 0px rgba(0, 0, 0, 0.3),
    -6px 3px 6px 0px rgba(0, 0, 0, 0.3),
    0px 6px 6px 0px rgba(0, 0, 0, 0.3);
}

.offscreen {
  position: absolute;
  top: 100vh;
  width: 0;
  height: 0;
}
